@import '../../styles/shared.scss';

.ui.menu.top-menu {
  border: none;
  // background-color: $gray5;
  .logo {
    width: $sidebar-left-width;
    .headerInLogo {
      text-align: center;
      padding-top: 10px;
      color: whitesmoke;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  }
  max-height: $header-nav-height;
}
