@import '../../styles/shared.scss';

.ui.menu.top-menu {
  border: none;
  // background-color: $gray5;
  .logo {
    width: $sidebar-left-width;
    .headerInLogo {
      text-align: center;
      padding-left: 10px;
      color: whitesmoke;
    }
  }
  max-height: $header-nav-height;
}
