@import '../../styles/shared.scss';

.ui.menu.fixed.side-bar {
  margin-top: $header-nav-height;
  overflow-y: auto;
  padding-bottom: $header-nav-height;
  &.mobile {
    padding-bottom: 0;
    height: 80px;
  }
}

.side-bar.ui.vertical.menu {
  width: $sidebar-left-width;
}
