@import '../../styles/shared.scss';

.react-calendar {
  min-width: 100px;
  max-width: auto;
  // height: 100%;
  width: auto;
  background: $gray6;
  border-color: $gray2;
  // border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15em;
  font-size: 1.35em;

  .react-calendar__tile {
    height: 100px;
    background-color: $gray6;
    color: whitesmoke;
    vertical-align: text-top;
    text-align: right;
    font-size: 15px;
    position: relative;
    border-color: $gray3;
    border-width: 1px;
    border-style: solid;
    &:hover {
      background-color: $green;
    }

    abbr {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .react-calendar__tile--now {
    abbr {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      height: 20px;
      width: 20px;
      background-color: $red;
      color: black;
      border-radius: 10px;
      text-align: center;
    }
  }
  .react-calendar__tile--active.react-calendar__tile--rangeBothEnds {
    background-color: $blue;
    &:enabled {
      background-color: lighten($blue, 10%);
    }
  }

  .react-calendar__month-view__days__day--weekend {
    background-color: $gray4;
    color: $gray;
  }
  .react-calendar__navigation {
    background-color: rgb(29, 28, 31);
    .react-calendar__navigation__label {
      color: whitesmoke;
    }
    .react-calendar__navigation__arrow {
      color: whitesmoke;
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    color: whitesmoke;
  }

  .react-calendar__navigation {
    &:hover {
      background-color: $green;
    }
    .react-calendar__navigation__arrow {
      &:hover {
        background-color: lighten($green, 20%);
      }
    }
    .react-calendar__navigation__label {
      &:hover {
        background-color: $green;
      }
    }
  }
}
