.react-calendar {
  min-width: 100px;
  max-width: 500px;
  width: auto;
  background: white;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15em;
  font-size: 1.35em;
}
