$header-nav-height: 64px;
$sidebar-left-width: 7rem;

$gray1: #8e8e93;
$gray2: #636366;
$gray3: #48484a;
$gray4: #3a3a3c;
$gray5: #2c2c2e;
$gray6: #1c1c1e;

$blue: #0a84ff;
$brown: #ac8e68;
$gray: #98989d;
$green: #32d74b;
$indigo: #5e5ce6;
$orange: #ff9f0a;
$pink: #ff375f;
$purple: #bf5af2;
$red: #ff453a;
$teal: #64d2ff;
$yellow: #ffd60a;
