$header-nav-height: 64px;
$sidebar-left-width: 7rem;

$gray1: rgb(142, 142, 147);
$gray2: rgb(99, 99, 102);
$gray3: rgb(72, 72, 74);
$gray4: rgb(58, 58, 60);
$gray5: rgb(44, 44, 46);
$gray6: rgb(28, 28, 30);

$blue: rgb(10, 132, 255);
$brown: rgb(172, 142, 104);
$gray: rgb(152, 152, 157);
$green: rgb(50, 215, 75);
$indigo: rgb(94, 92, 230);
$orange: rgb(255, 159, 10);
$pink: rgb(255, 55, 95);
$purple: rgb(191, 90, 242);
$red: rgb(255, 69, 58);
$teal: rgb(100, 210, 255);
$yellow: rgb(255, 214, 10);
