@import '../../styles/shared.scss';

.main-content {
  margin-top: $header-nav-height;
  margin-left: $sidebar-left-width;
  justify-content: center;
  &.mobile {
    margin-left: 0;
    padding-bottom: 10rem;
    justify-content: left;
  }
}
